{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

<!-- Tip. not call search-bar from base.html -->
{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <h2>Search!</h2>

    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <!-- If there is 1 button in 1 form, it means submission-->
        <button>Search</button>
    </form>


    <h3>Results</h3>

    {% for room in rooms %}
        <h4>{{room}}</h4>
    {% endfor %}

{% endblock content %}
